form {
  @include flexStack(column);
  background: $bgc-primary;
  box-shadow: 0 5px 20px -10px #000;
  border-radius: 5px;
}

input,
textarea {
  width: 100%;
  padding: .5rem;
  background: none;
  color: $color-gray;
  border: none;
  border-bottom: 1px solid rgba($color-gray, .3);
}

::placeholder {
  color: rgba($color-gray, .3);
}