form {
  @include flexStack(column);
}

input,
textarea {
  width: 100%;
  padding: .5rem;
  background: none;
  color: $color-gray;
  border: none;
  border-bottom: 1px solid rgba($color-gray, .3);

  @include mq(tablet) {
    font-size: 1.2rem;
  }

  @include mq(tablet-xl) {
    font-size: 1.4rem;
  }
}

::placeholder {
  color: rgba($color-gray, .3);
}