.login {
  @include positionAbs;
  height: 60%;
  width: 80%;
  padding: 3rem;
  text-align: center;

  &__heading {
    margin-bottom: 5rem;
  }

  &__username,
  &__password {
    margin: 1rem 0;
  }

  &__submit,
  &__cancel {
    margin-top: 2rem;
    width: 100px;
  }

  &__submit {
    background: $bgc-tertiary;
  }
}