.menu {
  @include flexStack(column, space-around, flex-start);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 60%;
  height: 100%;
  background: $bgc-primary;
  box-shadow: 4px 0 10px -5px #000;
  transition: $transition-menu;
  z-index: 10;


  @include mq(landscape) {
    width: 40%;
  }

  @include mq(landscape) {
    width: 30%;
  }

  &--isActive {
    display: flex;
  }

  &--toggle {
    transform: translateX(0);
  }

  &__handle {
    display: block;
    position: absolute;
    top: 1rem;
    right: -1.5rem;
    width: 3rem;
    height: 3rem;
    background: $bgc-tertiary;
    border-radius: 10px;
    cursor: pointer;
  }
}

.user-info {
  @include flexStack;
  padding-left: 3rem;

  .user-info__img {
    @include flexStack();
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid $color-gray;

    @include mq(landscape) {
      width: 3rem;
      height: 3rem;
    }

    @include mq(desktop-s) {
      width: 5rem;
      height: 5rem;
    }

    i {
      font-size: 1.4rem;
      color: white;
      transition: $transition-btn;

      @include mq(landscape) {
        font-size: 1.1rem;
      }
    }

    &:hover i {
      transform: scale(1.4);
      cursor: pointer;
    }
  }

  .user-info__detail {
    margin-left: 1rem;
    font-size: 1.2rem;

    @include mq(landscape) {
      font-size: .9rem;
    }

    @include mq(desktop-s) {
      font-size: 1.2rem;
    }
  }
}

.nav {
  width: 100%;

  &__daily {
    @include flexStack(row, flex-start);
  }

  &__item {
    padding: 2rem 0 2rem 3rem;
    font-size: 1.4rem;
    box-shadow: 0 5px 5px -5px #000;
    transition: $transition-btn;

    @include mq(landscape) {
      font-size: 1.1rem;
    }

    &.isActive {
      box-shadow: 0 5px 5px -5px $color-green;
    }

    i {
      margin-right: 1rem;
    }

    &:hover {
      box-shadow: 0 5px 5px -5px $color-green;
      cursor: pointer;
    }

    &:last-child {
      margin-top: 10rem;

      @include mq(landscape) {
        margin-top: 0;
      }

      @include mq(desktop-s) {
        margin-top: 10rem;
      }
    }
  }
}