.registration {
  @include positionAbs(0, 0);
  @include flexStack(column);
  display: none;
  height: 100%;
  width: 100%;
  padding: 3rem;
  background: $bgc-primary;
  text-align: center;

  &__heading {
    margin-bottom: 3rem;
  }

  &__username,
  &__password {
    margin: 1rem 0;
  }

  &__submit,
  &__cancel {
    margin-top: 1rem;
    width: 100px;
  }

  &__submit {
    margin-top: 4rem;
    background: $bgc-tertiary;
  }
}