*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: $font-family;
  font-size: $font-size-default;
  background: $bgc-primary;
  color: $color-light;
}

ul {
  list-style: none;
}

a,
a:link {
  text-decoration: none;
}